.tree-views-container-tree-panel {
  height: 100% !important;
}

.cell-yellow {
    background: yellow;
    background-color: yellow;
}

.cell-green {
    background: green;
    background-color: green;
}

.cell-red {
    background: red;
    background-color: red;
}